.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* forms */

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.mt-3 {
    margin-top: 1rem !important;
}

iframe {
    width: 85%;
}

.iframeDiv {
    margin-bottom: 40px;
    margin-top: 40px;
}