a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.lf-padding{
    padding-left: 60px;
    padding-right: 60px;
}